{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/controls.css" %}?version={{no_cache}}" />
    <script src="{% static "js/jquery-3.4.1.js" %}"></script>
    <script src="{% static "js/controls.js" %}?version={{no_cache}}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="auto-complete-input row flex-center">
      <div class="col-lg-6">
        <input type="text" id="input-keyword" class="form-control" placeholder="Search for stuff..." aria-label="Search for stuff...">
      </div>
    </div>
    <div class="auto-complete row flex-center">
      <div class="col-lg-6">
        <ul id="auto-complete-results" class="auto-complete-ul">
        </ul>
      </div>
    </div>
    <div id="info-cards" class="row flex-center">

    </div>
  </body>
</html>

<!-- {% for image in images %}
  <h3>{{image.name}}</h3>
  <img height="300px" width="300px" src="{{image.image_file.url}}" />
  <button onclick="send_message({type: 'image', path: '{{image.image_file.url}}'})">Send to Client</button>
{% endfor %}

{% for letter in letters %}
  <h3>{{letter.name}}</h3>
  <button onclick="send_message({type: 'letter', text: '{{letter.text | escapejs}}'})">Send to Client</button>
{% endfor %}

{% for song in songs %}
  <h3>{{song.name}}</h3>
  <ul>
    {% for tag in song.tags.all %}
      <li>{{tag.name}}</li>
    {% endfor %}
  </ul>
  <p>{{song.flavor}}</p>
  <audio controls {% if song.loop %} loop {% endif %}>
    <source src="{{song.sound_file.url}}" />
  </audio>
{% endfor %} -->
