{% load static %}

{% for image in images %}
  <h3>{{image.name}}</h3>
  <img height="300px" width="300px" src="{{image.image_file.url}}" />
  <button onclick="send_message({type: 'image', path: '{{image.image_file.url}}'})">Send to Client</button>
{% endfor %}

{% for letter in letters %}
  <h3>{{letter.name}}</h3>
  <button onclick="send_message({type: 'letter', text: '{{letter.text | escapejs}}'})">Send to Client</button>
{% endfor %}

{% for song in songs %}
  <h3>{{song.name}}</h3>
  <ul>
    {% for tag in song.tags.all %}
      <li>{{tag.name}}</li>
    {% endfor %}
  </ul>
  <p>{{song.flavor}}</p>
  <audio controls {% if song.loop %} loop {% endif %}>
    <source src="{{song.sound_file.url}}" />
  </audio>
{% endfor %}

<script src="{% static "js/jquery-3.4.1.js" %}"></script>
<script src="{% static "js/socket_controls.js" %}?version={{no_cache}}"></script>
