html {
  height: 100%;
}

body {
  background-color: #add8e6;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.main-content {
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}



/************ Session Content *********/
.content-panel {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0px;
}

.content-controls {
  height: 31px;
  width: 100%;
  padding-left: 10px;
}

.session-content {
  height: calc(100% - 31px);
  overflow-y: auto;
  padding: 10px 10px 10px 20px;
}

.content-controls {
  border-bottom: 1px solid purple;
}

.control-button {
  background-color: transparent;
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.control-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.control-button:focus {
  outline: none;
}

.icon-button {
  height: 20px;
  width: 20px;
}

#session-text {
  display: none;
  height: 100% !important;
}

/****** Session Panel *******/
.session-panel {
  background-color: #add8e6;
  border: 1px solid green;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
}

.selectors {
  width: 100%;
  border-bottom: 1px solid yellow;
  padding-bottom: 10px;
}

.selector-row {
  width: 85%;
  margin: auto;
  margin-top: 7px;
}

.session-items {
  text-align: center;
}


/****** Auto Complete *******/

.auto-complete {
  text-align: center;
}

.auto-complete-input {
  width: 100%;
}

.auto-complete .entry {
  color: rgb(217, 217, 217);
  text-align: left;
  padding-left: 28px;
  background-color: white;
}

.auto-complete ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  border-radius: 0 5px;
  display: none;
  position: absolute;
  z-index: 10;
}

.auto-complete ul li.entry {
  color: rgb(188, 188, 188);
  text-align: left;
  padding-left: 28px;
  background-color: white;
  padding-left: 15px;
  height: 30px;
}

.auto-complete ul li.entry:hover {
  cursor: pointer;
}

.auto-complete ul li.entry.selected {
  background-color: rgb(255, 255, 225);
}

.item-type {
  float: right
}
