html {
  height: 100%;
}

body {
  background-color: #add8e6;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.main-content {
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/****** Session Panel *******/
.session-panel {
  background-color: blue;
  border: 1px solid green;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
}

.selectors {
  width: 100%;
  border-bottom: 1px solid yellow;
  padding-bottom: 10px;
}

.selector-row {
  width: 85%;
  margin: auto;
  margin-right: 12px;
  margin-top: 7px;
}

/************ Session Content *********/
.content-controls {
  overflow-y: scroll;
}

.session-content {
  height: 100%;
}

.content-controls {
  border-bottom: 1px solid purple;
}

.control-button {
  background-color: transparent;
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.control-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.control-button:focus {
  outline: none;
}

.icon-button {
  height: 20px;
  width: 20px;
}

#session-text {
  display: none;
  height: 100% !important;
}


/****** Auto Complete *******/
.search-panel {
  padding: 5px;
  border-left: 1px solid black;
}

.auto-complete-input {
  width: 100%;
}

.auto-complete .entry {
  color: rgb(217, 217, 217);
  text-align: left;
  padding-left: 28px;
  background-color: white;
}

.auto-complete ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0 5px;
  display: none;
  position: relative;
  z-index: 10;
}

.auto-complete ul li.entry {
  color: rgb(188, 188, 188);
  text-align: left;
  padding-left: 28px;
  background-color: white;
  padding-left: 15px;
  height: 30px;
}

.auto-complete ul li.entry:hover {
  cursor: pointer;
}

.auto-complete ul li.entry.selected {
  background-color: rgb(255, 255, 225);
}

.item-type {
  float: right
}
